*{
    margin: 0;
    padding: 0;
    color: black;
}
.header{
    padding: 10px;
    background-color: #f7f8f8;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    position: fixed;

}
.header-bottom-bar{
     padding: 10px; 
    box-shadow: 0 1px 1px #00000041;
     padding-left: 80px; 
}
.header a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.top-bar{
    display: inline-block;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}
 .header-bottom{
    padding-top: 10px;
    padding-left: 40px;
    margin-left: 5px;
}
.selectinput{
    padding: 10px;
    width: 200px;
}
.search{
    width: 30vw;
}
.fa-magnifying-glass{
    background-color: #002f34;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
}
.sell-button{
    margin-left: 50px;
    padding: 15px;
    border-radius: 40px;
    background-color: white;
    border-bottom:3px solid #3a77ff;
    border-top:3px solid #3a77ff;
    border-left: 3px solid #ffce32;
    border-right: 3px solid #23e5db;
    width: 100px;
}
.top-icons{
    padding: 20px;
    font-size: 20px;
}
.li-menu{
    display: inline-block;
    padding-right: 10px;
    font-size: 0.8em;
}
.li-menu:hover{
    cursor: pointer;
    color: #46aca9;
}
.myslides{
    width: 100%;
    border-radius: 5px;
}
.header-add {
    padding:0 80px;
    margin-top: 10px;
}
.card-area{
    padding: 0 80px;
    margin-top: 10px;
}
.cat-card{
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 20px 20px;
    padding-right: 10px;
    margin-left: 0;
}
.cat-card > img{
    width: 80px;
    
}
.ad-cards{
    display: inline-block;
    width: 200px;
    margin: 20px 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #bfbfbf;
}
.ad-cards img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.heart-icon{
    float: right;

}
.card-classification{
    padding: 0 80px;
    margin-top: 10px;
}
.pricing{
    padding: 20px;
    font-weight: bold;
}
.ad-des ,
.location{
    padding: 10px;
}
.small-text{
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 5px;
}
.bottom-image{
    width: 100%;
}
.footer{
    padding: 10px;
    background-color: #f7f8f8;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-sizing: border-box;
    width: 100%;

}
 .footer-links-head{
    margin-bottom: 10px; 
 }

.footer-links{
    list-style-type: none;
    margin-bottom: 3px;
    color: #6c6c6c;
}
.footer-column{
    display: inline-block;
    width: 15%;
    margin-right: 20px;
}
.social-footer-links{
    margin-right: 10px;
}
.footer-column2{
    width: 20%;
}
.credit{
    text-align: end;

}  
.footer-ending{
    background-color: #002f34;
    padding: 20px;
}
.footer-p{
    color:white ;
    font-size: 10px;
}
@media (max-width:768px) {
    .header{
        font-size: 0.7rem;
    }
    .header-bottom-bar{
        padding-left:20px ;
    }
    .navbar-menu{
        flex-direction: column;
        align-items:flex-start ;
    }
    .li-menu{
        padding:10px 0 ;
    }
    .header-bottom{
        padding-left: 20px;
    }
    .top-bar img{
        width: 30px;
    }
    .sell-button{
        padding: 5px 10px;
        font-size: 0.8rem;
    }
    .selectinput{
        width: 100%;
    }
    .header-add img{
        width: 100%;
    }
    .cat-card{
        flex: 0 0 48%;
    }
    .ad-cards{
        flex: 0 0 100%;
    }
}
    

 

    

    

    

    

    


    